@import url("./reset.scss");
@import url("./vars.scss");
@import url("./fonts.scss");

html,
body,
#app {
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	font-family: Roboto;
	color: rgb(var(--black-800));
}

main {
	width: 100%;
	height: 100%;

	padding-top: var(--header-height);
}

.container {
	width: 100%;
	max-width: var(--max-width);
	height: 100%;

	padding: 0 20px;
	margin: 0 auto;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
